<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <title>Create Blog | Engineering With Ashmit</title>
</head>

<body>
  <%- include('./partials/nav') %>

  <div class="container mt-4">
    <form action="/blog" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="coverImage" class="form-label">Cover Image</label>
        <input type="file" class="form-control" id="coverImage" name="coverImage">
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Body (Markdown Format)</label>
        <textarea class="form-control" id="body" name="body" rows="10" placeholder="Write your blog here in markdown format">
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Publish</button>
    </form>
  </div>

  <%- include('./partials/scripts') %>
</body>

</html>