<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Engineering With Ashmit | Homepage</title>
</head>
<body>
    <%- include('./partials/scripts') %>
</body>
</html>